.notebooks/test_barycenters_backup.ipynb
.notebooks/test_barycenters.ipynb
.notebooks/test.ipynb
# Python-specific directories
SCIML.egg-info/
.venv/
# Lock files
uv.lock
tach.lock
# Test cache
.pytest_cache/
# Story files
.specstory/
# Python bytecode
pycache/
# Python package directories
*.egg-info/
# Python unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
# Python build directories
build/
dist/
# Python debugging tool directories
pybuilder/
# Python profiling tool directories
profile/
# Python packaging tool directories
pip-wheel-metadata/
# Python compiled files
*.py[cod]
# End of Selection
*.pyc
.cursorindexingignore
*report.tex
*.gz
data/cifar-10-batches-py/batches.meta
data/cifar-10-batches-py/data_batch_1
data/cifar-10-batches-py/data_batch_2
data/cifar-10-batches-py/data_batch_3
data/cifar-10-batches-py/data_batch_4
data/cifar-10-batches-py/data_batch_5
*.pt
# refs/ files except PNG
refs/**/*
!refs/**/*.png